[report]
exclude_lines =
    def __repr__
    raise NotImplementedError
    raise MissingDependency
    except xapian.DatabaseModifiedError

[run]
include =
    haystack/backends/xapian_backend.py
    test_haystack/xapian_tests/*

[paths]
# Merge coverage data from running tests in a django-haystack
# checkout with our own paths for coverage reporting.
backend =
    ./
    */django-haystack/haystack/backends/

tests =
    tests/xapian_tests/
    */django-haystack/test_haystack/xapian_tests/
